@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

// Variables
@white: #FFFFFF;
@black: #1A1A1A;
@light-grey: #808285;
@ship-grey: #414042;
@dark-grey: #1a1a1a;
@bittersweet-orange-light: #F36F54;
@bittersweet-orange-dark: #E9583F;

html {
  background-color: @bittersweet-orange-light;
  color: @dark-grey;
  font-family: 'Oxygen', sans-serif;
}
body {
  background-color: @bittersweet-orange-light;
  color: @dark-grey;
  font-family: 'Oxygen', sans-serif;
}
main {
  padding: 1rem;
}

.content a {
  color: @ship-grey;
  text-decoration: underline;
  &:focus {
    color: @ship-grey;
    text-decoration: underline;
  }
  &:hover {
    color: @ship-grey;
    text-decoration: underline;
  }
}

.markdown {
  margin-bottom: 4rem;
}
.markdown h1 {
  color: white;
  font-family: 'Josefin Slab', serif;
}
.markdown h2 {
  color: @white;
  // font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin-left: -0.5em;
  margin-top: 4rem;
  text-transform: uppercase;
  &:first-letter {
    float: left;
    font-size: 250%;
    line-height: 3.2rem;
    padding: 4px 2px 10px;
  }
}
.markdown h3 {
  margin-top: 2rem;
  color: @ship-grey;
}
.markdown p {
  padding: .25rem;
}
.markdown blockquote {
  border-radius: 0.125em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding: 1em;
  p {
    &::before {
      content: '\00bb';
      font-family: 'Josefin Slab', serif;
      color: @ship-grey;
      float: left;
      font-size: 400%;
      line-height: 25%;
      padding: 4px 2px 3px;
    }
  }
}
