---
layout: layouts/base.njk
---

<div class="markdown">
  {{ content | safe }}
</div>

<aside class="column is-full has-text-centered hero content">
  <h2>Contact</h2>
  <p>
    If you have a project in mind, looking for some advice on cloud services or
    keen to get in touch.
  </p>
  <h3>General</h3>
  <div class="hero-buttons">
    <a href="mailto:mail@lb.ee" class="button is-medium">mail@lb.ee</a>
    <a href="http://telegram.me/lb_ee" class="button is-medium">
      <strong>Telegram</strong>
      /lb_ee
    </a>
    <a
      href="https://www.linkedin.com/in/lbbenjohnston"
      class="button is-medium">
      <strong>Linkedin</strong>
      /lbbenjohnston
    </a>
  </div>
  <h3>Code</h3>
  <div class="hero-buttons">
    <a href="https://github.com/lb-/" class="button is-medium">
      <strong>Github</strong>
      /lb-
    </a>
    <a
      href="https://stackoverflow.com/users/8070948/lb-ben-johnston"
      class="button is-medium">
      <strong>Stack Overflow</strong>
      /lb-ben-johnston
    </a>
  </div>
</aside>
